    <style>
      body { background-color: #F2F6D0 }
      #wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
        align-contents: center;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 80%;
        height: 80%;
      }
      #notes {
        margin-left:2em;
        padding: 2em;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
  a {
    font-size:2em;
  }
  h1 {
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: black;
    color: white;
    text-align: center;
    font-height: 3em;
  }
  #articleDetails {
      padding: 1em;
      background: lightgreen;
      border: solid white
  }
  h3 {
     padding: .3em;
     margin-left: 1em;
     font-weight: bold;
  }
  img {
    align-contents: center;
  }
  ul {
   text-decoration: none;
  }
  #scrapeButton {
    font-height: 4em;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
  }
  button:hover {
    background-color: yellow;
  }
  button {
    background: lightblue;
  }
</style>
<img src="assets/images/huffpost.jpg" width=100% height=20%>
<div id="wrapper">
<h1>Headline News</h1>
<h3>Join the discusson of current news. Leave your comment!</h3>
<div id="articles">
  <button id="scrapeButton" type="submit" class="submit">GET NEW ARTICLES</button>
<ul>
  {{#each article}}
      <li id="articleDetails">
        <p>
        {{this.id}}
        </p>        
        <p>READ <a href="{{this.link}}">{{this.title}}</a></p>
         <h2>{{this.title}}</h2> 
        <button id="{{this.id}}" class="commentButton" type="submit" class="submit">Comment</button> 
        <div id="notes">
          <span> {{this.note}} </span>
        </div>
        </p>
      </li>
 
  {{/each}}
</ul>
</div>
</div>
      <!-- FOOTER -->

      <footer>
        <p class="pull-right"></p>
        <p>&copy; Created by: Maryann Jordan, &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

